# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [1]:
x=[1,2,3,4]
x

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [2]:
# Method 1 
l=[1,2,3,4]
l.remove(3)
l

[1, 2, 4]

In [3]:
# Method 2
l=[1,2,3,4]
del l[2]
l

[1, 2, 4]

In [4]:
# Method 3
l=[1,2,3,4]
l.pop(2)
l

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [5]:
l=[2,3,4]
l.insert(0,1)
l

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [6]:
l=[1,2,3,4]
l.insert(2,"two-and-half")
l

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [7]:
# CODE HERE
p="Don't panic!"
a=list(p)
a

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

In [8]:
p="Don't panic!"
a=list(p)
a

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [9]:
p="Don't panic!"
a=list(p)
a.remove('!')
a
a.remove("'")
a

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [10]:
# CODE HERE
a.remove('p')
a
a.remove('a')
a
a.remove('n')
a
a.remove('D')
a
a.extend(['p','a','n','D'])
a

['o', 't', ' ', 'n', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [ ]:
# CODE HERE

In [11]:
l=['p','a','n','D','a']
a="".join(l)
print(a)

panDa

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [12]:
# CODE HERE
a=(31,24,35,85)
a
print(type(a))
print(a)

<class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [13]:
# CODE HERE
b=list(a)
print(b)
b.remove(35)
c=tuple(b)
c

[31, 24, 35, 85]

(31, 24, 85)

**Extent** tuple (85,19)

In [14]:
# CODE HERE
d=list(c)
d.extend([85,19])
tuple(d)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [15]:
# CODE HERE
t=('i','n','n','o')
for x in t:
    if x=='i':
        print("True")

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [16]:
# CODE HERE
list=['Hello',100,[],'innomatics']
list[2]=[200]
list

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [18]:
# CODE HERE
tpl = ("Innomatics")
x=reversed(tpl)
tuple(x)

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [19]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [20]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for a in tpl:
    x=[a+tuple([100])]
    print(x)

[(10, 20, 40, 100)]
[(40, 50, 60, 100)]
[(70, 80, 90, 100)]

In [21]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
x=[a+tuple([100])for a in tpl]
print(x)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [22]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for t in tpl:
    x=[t[:-1]+(100,)]
    print(x)

[(10, 20, 100)]
[(40, 50, 100)]
[(70, 80, 100)]

In [23]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
x=[t[:-1]+(100,)for t in tpl]
print(x)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [24]:
# CODE HERE
#x="5 2 3 6 6 5"
x=input("Enter the numbers in a string:")
high=max(x[0],x[1])
second_high=min(x[0],x[1])
for y in range(len(x)):
    if x[y]>high:
        second_high=high
        high=x[y]
    elif x[y]>second_high and high!=x[y]:
        second_high=x[y]
    elif high==second_high and second_high!=x[y]:
        second_high=x[y]
print("second highest is:",str(second_high))

Enter the numbers in a string:5 2 3 6 6 4 5
second highest is: 5

In [31]:
# CODE HERE
#x="5 2 3 6 6 5"
x=input("Enter the numbers in a string:")
high=max(x[0],x[1])
second_high=min(x[0],x[1])
for y in range(len(x)):
    if x[y]>high:
        second_high=high
        high=x[y]
    elif x[y]>second_high and high!=x[y]:
        second_high=x[y]
    elif high==second_high and second_high!=x[y]:
        second_high=x[y]
print("second highest is:",str(second_high))

Enter the numbers in a string:5 2 3 6 6 7 3 8 9
second highest is: 8

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [ ]:
# CODE HERE

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [30]:
x=(1,2,3,4,5,6,7,8,9,10)
y=x[:5]
z=x[5:]   
print(y)
print(z)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [29]:
x=(1,2,3,4,5,6,7,8,9,10)
print(x)
print("The Even Numbers in the given Tuple are:")
for i in range(len(x)):
    if(x[i]%2 == 0):
        print(x[i],end = " ")

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
The Even Numbers in the given Tuple are:
2 4 6 8 10

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
# Solution
1) List are mutable where as Tuple are immutable
2) List is represented by "[]" where as Tuple is represented by "()"

### 2. Explain the difference between append() and extend() with examples

In [ ]:
# Solution
1) append() is used to add single element at the end of the list where as 
2) extend() is used to add multiple individual elements at the end of the list.

In [46]:
# Examples of append() and extend()
c=[10,20,30]
c.extend([85,19])
c

[10, 20, 30, 85, 19]

In [47]:
c=[10,20,30]
c.append(85)
c

[10, 20, 30, 85]

### 3. Explain the difference between pop() and remove() with examples

In [ ]:
# Solution
1) pop() is used to return rhe removed element from the list where as
2) remove() is used to remove the first matching value from the list.
3) in pop() we use the index value to remove the element where as 
4) in remove() we use the element to remove

In [32]:
# Examples of pop() and remove()
l=[1,2,3,4]
l.remove(3)
l

[1, 2, 4]

In [33]:
l=[1,2,3,4]
l.pop(2)
l

[1, 2, 4]

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)